@mixin centerItems {
    display: flex;
    align-items: center;
}

@mixin heading-one {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
}

@mixin heading-two {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
}

@mixin heading-three {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
}

@mixin heading-four {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
}

@mixin text {
    font-size: 15px;
    line-height: 25px;
}

@mixin for-mobile {
    @media screen and (max-width: 740px) {
        @content;
    }
}

@mixin for-hero {
    @media screen and (max-width: 898px) {
        @content;
    }
}

@mixin for-order {
    @media screen and (max-width: 890px) {
        @content;
    }
}

@mixin for-order-mobile {
    @media screen and (max-width: 598px) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin for-download {
    @media screen and (max-width: 868px) {
        @content;
    }
}

@mixin for-footer {
    @media screen and (max-width: 660px) {
        @content;
    }
}

@mixin for-useful-img {
    @media screen and (max-width: 535px) {
        @content;
    }
}

@mixin for-hero-arrow {
    @media screen and (max-width: 557px) {
        @content;
    }
}